body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.flex-container {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #ff660048;
}

.display {
    margin: 12px;
    font-size: 32px;
    text-align: right;
    color: #333;
    background-color: #dfdfdf;
}

.buttons {
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

button {
    width: 36px;
    height: 36px;
    font-size: 24px;
    border-style: none;
    border-radius: 12%;
    background-color: #ececec;
}

.operator {
    color: #12ff55;
}

.clear {
    width: 120px;
    border-radius: 4px;
}

#zero {
    width: 78px;
}